{% extends 'base.html' %}
{% block title %}
    主页
{% endblock %}

{% block main %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
{#        首页全部商品分类#}
		<ul class="subnav fl">
            {% for type in types %}
			<li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.category_name }}</a></li>
            {% endfor %}
		</ul>
{#    轮播图#}
		<div class="slide fl">
			<ul class="slide_pics">
                {% for c_img in banners %}
				<li><img src="{{ c_img.image.url }}" alt="幻灯片"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
{#    促销活动#}
		<div class="adv fl">
            {% for p in promotion %}
			<a href="#"><img src="{{ p.image.url }}"></a>
            {% endfor %}
		</div>
	</div>


    {% for c in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ c.category_name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for p in c.word_show%}
				<a href="/{{p.product.id}}">{{p.product.name|slice:'10'}}</a>
				{%endfor%}
			</div>
			<a href="/list/{{ c.id }}/1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
        {# 商品分类的图片 #}
			<div class="goods_banner fl"><img src="{{ c.image.url }}"></div>
        {# 分类商品内的SPU商品 #}
			<ul class="goods_list fl">
				{%for pic_p in c.pic_show%}
				<li>
					<h4><a href="{% url 'goods:detail' pic_p.id %}">{{pic_p.product.name|slice:'10'}}</a></h4>
					<a href="{% url 'goods:detail' pic_p.id %}"><img src="{{pic_p.product.image.url}}"></a>
					<div class="price">¥{{pic_p.product.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock %}
{% block js%}
    <script src="/static/product/slide.js"></script>
    <script type="text/javascript">
{#		BCSlideshow('focuspic');#}
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(d){
			window.location.href = 'list.html';
		}
	</script>
{% endblock %}